<h2>All Bookings</h2>
<div class="container" id="content" #content>
    <a class="list-group-item clearfix">
       <table>
        <tr style="font-weight:bold">
          <td ><p class="list-group-item-text">USER ID</p></td>
          <td ><p class="list-group-item-text">SHIP ID</p></td>
          <td><p class="list-group-item-text">SHIP NAME</p></td>
          <td ><p class="list-group-item-text">SHIP TYPE</p></td>
          <td><p class="list-group-item-text">SOURCE</p></td>
          <td ><p class="list-group-item-text">DESTINATION</p></td>
          <td ><p class="list-group-item-text">DEPARTURE DATE</p></td>
          <td><p class="list-group-item-text"> DEPARTURE TIME</p></td>
          <td><p class="list-group-item-text">ARRIVAL DATE</p></td>
          <td ><p class="list-group-item-text">ARRIVAL TIME</p></td>
          <td ><p class="list-group-item-text">PRODUCT</p></td>
          <td><p class="list-group-item-text"> NO.OF.TICKETS/NO.OF.KGS</p></td>
          <td ><p class="list-group-item-text">AMOUNT PAID</p></td>
         </tr>
          <tr *ngFor="let book of allUserBooking;let i=index;">
              <td ><p class="list-group-item-text"  name="userId" ></p>{{book.userId}}</td>
              <td ><p class="list-group-item-text"  name="shipId" ></p>{{book.shipId}}</td>
              <td ><p class="list-group-item-text"  name="shipName" ></p>{{book.shipName}}</td>
              <td ><p class="list-group-item-text"  name="shipType" ></p>{{book.shipType}}</td>
              <td><p class="list-group-item-text"  name="source"></p>{{book.source}}</td>
              <td ><p class="list-group-item-text"  name="destination" >{{book.destination}}</p></td>
              <td ><p class="list-group-item-text"  name="departureDate" ></p>{{book.departureDate}}</td>
              <td><p class="list-group-item-text"   name ="departureTime" ></p>{{book.departureTime}}</td>
              <td><p class="list-group-item-text"  name="arrivalDate"></p>{{book.arrivalDate}}</td>
              <td ><p class="list-group-item-text"  name="arrivalTime" >{{book.arrivalTime}}</p></td>
              <td ><p class="list-group-item-text"  name="product" ></p>{{book.product}}</td>
              <td><p class="list-group-item-text"   name ="quantity" ></p>{{book.quantity}}</td>
              <td><p class="list-group-item-text"   name ="amount" ></p>{{book.amount}}</td>
          </tr>
       </table>
      </a>
</div>
  <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">