<div class="container-fluid" style="background-color:#353a40;">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="#" class="navbar-brand" id="navLi">Ship Management System 🚢 </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" (click)="isShown = !isShown"
            data-bs-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav"><span
                class="navbar-toggler-icon"></span></button>

        <div class="navbar-collapse collapse flex-row-reverse" [ngClass]="{ 'show': isShown }" id="navbarNav">
            <ul class="navbar-nav ">
                <li  *ngIf="!isLoggedIn" style="color:white;" class="nav-item">
                    <a routerLink="signUp" (click)="isShown = false" class="nav-link">Register</a>
                </li>
                <li *ngIf="!isLoggedIn"style="color:white;" class="nav-item">
                    <a routerLink="login" (click)="isShown = false" class="nav-link">Sign-in</a>
                </li>


                <li *ngIf="isLoggedIn && category=='manager'" style="color:white;" class="nav-item">
                    <a routerLink="ship" (click)="isShown = false" class="nav-link">Buy Ships</a>
                </li>
                <li *ngIf="isLoggedIn && category=='manager'" style="color:white;" class="nav-item">
                    <a routerLink= "viewBookings"(click)="isShown = false" class="nav-link">View Bookings</a>
                </li>
                <li *ngIf="isLoggedIn && category=='manager'" style="color:white;" class="nav-item">
                    <a routerLink="employee" (click)="isShown = false" class="nav-link">Edit Employee Details</a>
                </li>
                <li *ngIf="isLoggedIn && category=='manager'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link">Tasks</a>
                </li>
                <li *ngIf="isLoggedIn && category=='manager'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link">Add feedback</a>
                </li>


                <li *ngIf="isLoggedIn && category=='employee'" style="color:white;" class="nav-item">
                    <a routerLink="ship" (click)="isShown = false" class="nav-link">Buy Ships</a>
                </li>
                <li  *ngIf="isLoggedIn && category=='employee'" style="color:white;" class="nav-item">
                    <a routerLink= "viewBookings" (click)="isShown = false" class="nav-link">View Bookings</a>
                </li>
                <li  *ngIf="isLoggedIn && category=='employee'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link">Your Tasks</a>
                </li>


                <li *ngIf="isLoggedIn && category=='user'"style="color:white;" class="nav-item">
                    <a  routerLink="yourBookings" (click)="isShown = false" class="nav-link">Your Bookings</a>
                </li>
                <li *ngIf="isLoggedIn && category=='user'"style="color:white;" class="nav-item">
                    <a  routerLink="booking" (click)="isShown = false" class="nav-link">Book</a>
                </li>
                <li *ngIf="isLoggedIn && category=='user'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link">Feedback</a>
                </li>
               
            
            <span *ngIf="isLoggedIn && category=='superAdmin'">
                <li *ngIf="isLoggedIn && category=='superAdmin'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link">Approve Admin Requests</a>
                </li>
                <li *ngIf="isLoggedIn && category=='superAdmin'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link"> Add Feedback</a>
                </li>
                <li *ngIf="isLoggedIn && category=='superAdmin'" style="color:white;" class="nav-item">
                    <a (click)="isShown = false" class="nav-link">Buy Ships</a>
                </li>
                <li *ngIf="isLoggedIn && category=='superAdmin'" style="color:white;" class="nav-item">
                    <a  routerLink= "viewBookings" (click)="isShown = false" class="nav-link">View Bookings</a>
                </li>
               
            </span>
            <div *ngIf="isLoggedIn">
                <li style="color:white;" class="nav-item">
                    <a (click)="isShown = false; onLogOut()" class="nav-link">Logout</a>
                </li>
            </div>
            </ul>
        </div>
    </nav>
</div>